* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    background-color: rgb(78, 68, 68);
    padding: 1rem
}

.content h1 {
    margin: 0
}


.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}